@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "logo"; /* Give a name to your font */
  src: url("/logo.ttf") format("truetype"); /* URL to the font file */
  font-weight: normal;
  font-style: normal;
}

:root {
  --max-width: 68.75rem;
  --blue: rgba(0, 118, 255, 0.9);
  --gray: #eaeaea;
  --green: #2da44e;
  --red: #f44336;
  --yellow: rgb(245, 184, 28);
  --purple: #7928ca;
  --white: #fff;
  --cyan: #79ffe1;
}

[data-theme="dark"] {
  --bg-base: #000;
  --clr-base: #fff;

  --bg-primary: #000;
  --clr-primary: #fff;
  --bg-primary-hover: #333;

  --bg-secondary: #111111;
  --clr-secondary: #888;
  --bg-secondary-hover: #333;
  --clr-secondary-hover: #fff;

  --border-clr: #333;
  --border-hover-clr: #888;

  --scrollbar-track-color: #333;
  --scrollbar-thumb-color: #888;
  --skeleton: rgba(255, 255, 255, 0.13);
}

[data-theme="light"] {
  --bg-base: #fff;
  --clr-base: #000;

  --bg-primary: #fafafa;
  --clr-primary: #0a0a0a;
  --bg-primary-hover: #ccc;

  --bg-secondary: var(--gray);
  --clr-secondary: #444;

  --border-clr: var(--gray);
  --border-hover-clr: #444;

  --scrollbar-track-color: lightgray;
  --scrollbar-thumb-color: darkgray;
}

@layer base {
  body,
  #__next {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    scroll-behavior: smooth;
    overscroll-behavior-y: contain;
    display: flex;
    flex-direction: column;
    @apply bg-primary text-default clr-primary;
  }

  /* SUPER IMPORTANT
    This helps prevent cv texts from shifting down
  */
  img:not(.divider) {
    @apply inline-block;
  }

  h1 {
    @apply h1;
  }

  h2 {
    @apply h2;
  }
  h3 {
    @apply h3;
  }
  h4 {
    @apply h4;
  }
  /* For WebKit browsers */
  ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  ::-webkit-scrollbar-track {
    background: var(--scrollbar-track-color, lightgray);
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color, darkgray);
    border-radius: 6px;
    border: 3px solid var(--scrollbar-track-color, lightgray);

    /* For Firefox */
    * {
      scrollbar-width: thin;
      scrollbar-color: var(--scrollbar-thumb-color, darkgray)
        var(--scrollbar-track-color, lightgray);
    }
  }
}

@layer components {
  /* A4 */
  .a4 {
    height: 1122px;
    width: 795px;
    min-width: 795px;
    max-width: 795px;
    overflow: hidden;
  }

  .a4 * {
    box-sizing: border-box;
  }

  .toolbar {
    @apply fixed grid grid-cols-2 items-center gap-1 rounded-md border p-2;
    left: 1rem;
    top: 10rem;
  }

  .danger-zone {
    background-color: rgba(255, 0, 0, 0.17);
  }

  /* Buttons  */

  /* Reverse theme colors for buttons and links  */
  [data-theme="dark"] .primary:is(button, a) {
    --bg-base: #fff;
    --clr-base: #000;

    --bg-primary: #fafafa;
    --clr-primary: #666;
    --bg-primary-hover: #ccc;

    --bg-secondary: var(--gray);
    --clr-secondary: #444;

    --select: #79ffe1;
    --border-clr: var(--gray);
  }

  /* Variants */
  .primary:is(button, a) {
    @apply bg-primary clr-base;
  }
  .primary:is(button, a):hover {
    background-color: #ccc;
  }
  .navigation:is(button, a) {
    @apply bg-transparent clr-secondary hover:bg-secondary-hover hover:clr-base;
  }
  *:disabled:is(button, a) {
    @apply cursor-not-allowed opacity-40;
  }
  .outlined:is(button, a) {
    @apply border bg-transparent;
  }
  .outlined:is(button, a):hover {
    background-color: hsla(0, 0%, 12%, 1);
  }

  /* Chips  */
  .chip {
    @apply flex items-center justify-center rounded-lg;
  }

  /* Content editable div */
  [contentEditable="true"]:empty:before {
    content: attr(data-placeholder);
    @apply pointer-events-none select-none clr-secondary;
  }
}

@layer utilities {
  .container {
    max-width: 78rem;
    margin-inline: auto;
    width: 100%;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  .size-full {
    @apply h-full w-full;
  }

  .reset {
    @apply w-full outline-none;
  }

  /* Buttons  */

  :is(button, a)[class^="bg-"]:hover,
  :is(button, a)[class*=" bg-"]:hover {
    filter: brightness(1.1);
  }

  .common:is(button, a) {
    transition-property: border-color, background, color, transform, box-shadow,
      filter;
    transition-duration: 0.15s;
    transition-timing-function: ease;
    max-width: 18.75rem;
    cursor: pointer;
    @apply flex items-center justify-center rounded-md;
  }

  .lg:is(button, a) {
    @apply h-10 px-3 text-medium leading-6;
  }

  .sm:is(button, a) {
    @apply h-8 px-2 text-default leading-5;
  }

  /* Chips  */

  .lg:is(.chip) {
    @apply h-10 p-2 text-medium leading-6;
  }

  .sm:is(.chip) {
    height: 1.25rem;
    @apply px-3 text-small;
  }

  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .flex-evenly {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .border {
    border: 1px solid var(--border-clr);
  }
  .border-y {
    border-top: 1px solid var(--border-clr);
    border-bottom: 1px solid var(--border-clr);
  }

  .border-top {
    border-top: 1px solid var(--border-clr);
  }
  .border-bottom {
    border-bottom: 1px solid var(--border-clr);
  }
  .border-left {
    border-left: 1px solid var(--border-clr);
  }
  .border-right {
    border-right: 1px solid var(--border-clr);
  }

  .dashed-bg {
    background-image: repeating-linear-gradient(
        0deg,
        #26374c 0,
        #26374c 2px,
        transparent 2px,
        transparent 4px
      ),
      repeating-linear-gradient(
        90deg,
        #26374c 0,
        #26374c 2px,
        transparent 2px,
        transparent 4px
      );
  }
}
