@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-width: 68.75rem;
  --blue: rgba(0, 118, 255, 0.9);
  --gray: #eaeaea;
  --green: #2da44e;
  --red: #f44336;
  --yellow: rgb(245, 184, 28);
  --purple: #7928ca;
  --white: #fff;
  --cyan: #79ffe1;
}

[data-theme="dark"] {
  --bg-base: #000;
  --clr-base: #fff;

  --bg-primary: #000;
  --clr-primary: #fff;
  --bg-primary-hover: #333;

  --bg-secondary: #111111;
  --clr-secondary: #888;
  --bg-secondary-hover: #333;
  --clr-secondary-hover: #fff;

  --select: #f81ce5;
  --border-clr: #333;
  --border-hover-clr: #888;

  --scrollbar-track-color: #333;
  --scrollbar-thumb-color: #888;
}

[data-theme="light"] {
  --bg-base: #fff;
  --clr-base: #000;

  --bg-primary: #fafafa;
  --clr-primary: #0a0a0a;
  --bg-primary-hover: #ccc;

  --bg-secondary: var(--gray);
  --clr-secondary: #444;

  --select: #79ffe1;
  --border-clr: var(--gray);
  --border-hover-clr: #444;

  --scrollbar-track-color: lightgray;
  --scrollbar-thumb-color: darkgray;
}

@layer base {
  body,
  #__next {
    min-height: 100%;
    text-rendering: optimizeSpeed;
    scroll-behavior: smooth;
    overscroll-behavior-y: contain;
    @apply bg-primary text-default clr-primary;
  }

  ::selection {
    background-color: var(--select);
  }

  h1 {
    @apply h1;
  }

  h2 {
    @apply h2;
  }
  h3 {
    @apply h3;
  }
  h4 {
    @apply h4;
  }
  /* For WebKit browsers */
  ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  ::-webkit-scrollbar-track {
    background: var(--scrollbar-track-color, lightgray);
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color, darkgray);
    border-radius: 6px;
    border: 3px solid var(--scrollbar-track-color, lightgray);

    /* For Firefox */
    * {
      scrollbar-width: thin;
      scrollbar-color: var(--scrollbar-thumb-color, darkgray)
        var(--scrollbar-track-color, lightgray);
    }
  }
}

@layer components {
  /* A4 */
  .a4 {
    @apply grid h-[1122px] w-[795px] min-w-[795px] max-w-[795px] grid-cols-[300px_1fr] bg-white;
  }

  /* Buttons  */

  /* 1. Reverse theme colors for buttons and links  */
  [data-theme="dark"] .primary:is(button, a) {
    --bg-base: #fff;
    --clr-base: #000;

    --bg-primary: #fafafa;
    --clr-primary: #666;
    --bg-primary-hover: #ccc;

    --bg-secondary: var(--gray);
    --clr-secondary: #444;

    --select: #79ffe1;
    --border-clr: var(--gray);
  }

  /* Variants */
  .primary:is(button, a) {
    @apply bg-primary clr-base;
  }
  .primary:is(button, a):hover {
    background-color: #ccc;
  }
  .navigation:is(button, a) {
    @apply bg-transparent clr-secondary hover:bg-secondary-hover hover:clr-base;
  }
}

@layer utilities {
  .container {
    max-width: 78rem;
    margin-inline: auto;
    width: 100%;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  .size-full {
    @apply h-full w-full;
  }

  .reset {
    @apply m-0 w-full border-0 bg-transparent p-0 outline-none;
  }

  .content {
    @apply flex items-center gap-2 overflow-ellipsis whitespace-nowrap;
  }

  :is(button, a)[class^="bg-"]:hover,
  :is(button, a)[class*=" bg-"]:hover {
    filter: brightness(1.1);
  }

  .common:is(button, a) {
    transition-property: border-color, background, color, transform, box-shadow,
      filter;
    transition-duration: 0.15s;
    transition-timing-function: ease;
    max-width: 18.75rem;
    cursor: pointer;
    @apply flex items-center justify-center rounded-md;
  }

  .lg:is(button, a) {
    @apply h-10 px-3 text-medium leading-6;
  }

  .sm:is(button, a) {
    @apply h-8 px-3 text-default leading-5;
  }

  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .flex-evenly {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .border {
    border: 1px solid var(--border-clr);
  }
  .border-y {
    border-top: 1px solid var(--border-clr);
    border-bottom: 1px solid var(--border-clr);
  }

  .border-top {
    border-top: 1px solid var(--border-clr);
  }
  .border-bottom {
    border-bottom: 1px solid var(--border-clr);
  }
  .border-left {
    border-left: 1px solid var(--border-clr);
  }
  .border-right {
    border-right: 1px solid var(--border-clr);
  }

  .heading-border {
    padding-bottom: 2%;
    border-bottom: 2px solid currentColor;
  }
}
